## This project is about natural language processing. I used the dataset I got from the kaggle site. This dataset has been edited and includes examples from many languages. I used multinomial Naive Bayes ML technique in this project. I got 95% accuracy.

In [55]:
# importing some necessary libraries.
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [56]:
# using pandas to read dataset. 
data = pd.read_csv("dataset.csv")

In [57]:
# there are 2 column and 22000 data.
data.shape

(22000, 2)

In [58]:
# this dataset is not numeric but we can look what is dataset about.
data.describe()

                                                     Text  language
count                                               22000     22000
unique                                              21859        22
top     haec commentatio automatice praeparata res ast...  Estonian
freq                                                   48      1000

In [59]:
# We should look dataset to understand what will do.
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [60]:
# All languages have same amount. That is good for prediction.
data["language"].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [61]:
# There is no any null values.
data.isnull().sum()

Text        0
language    0
dtype: int64

In [62]:
# Split the data like this and make it an array.
x = np.array(data["Text"])
y = np.array(data["language"])

In [63]:
# Convert a collection of text documents to a matrix of token counts
cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=42)

In [64]:
# I used multinomial Naive Bayes because it is suitable for classification with discrete feautes.
model = MultinomialNB()
model.fit(X_train,y_train)
print("Accuracy:",model.score(X_test,y_test))

Accuracy: 0.9528787878787879

In [65]:
user = input("Enter a Text: ")
if len(user) < 10:
    print("Try again to write more words.")
else:
    data = cv.transform([user]).toarray()
    output = model.predict(data)
    print(output)

['Turkish']